.header_container {
  padding: 10vh 1rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: rgba(0, 122, 204, 1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color-primary);
}
